### git忽略目录
# main
.idea/
# res
/res/env/*
!/res/env/.gitkeep
/res/privateKey/*
!/res/privateKey/.gitkeep
/res/sql/*
!/res/sql/.gitkeep
# tmp
/tmp/bak/*
!/tmp/bak/.gitkeep
/tmp/logs/*
!/tmp/logs/.gitkeep
/tmp/downloads/*
!/tmp/downloads/.gitkeep
/tmp/uploads/*
!/tmp/uploads/.gitkeep
# ext
*.exe
