### git忽略目录
#
.idea/
/res/env/*
!/res/env/.gitkeep
!/res/env/version.env
/res/privateKey/*
!/res/privateKey/.gitkeep
/tmp/bak/*
!/tmp/bak/.gitkeep
/tmp/logs/*
!/tmp/logs/.gitkeep
/tmp/downloads/*
!/tmp/downloads/.gitkeep
/tmp/uploads/*
!/tmp/uploads/.gitkeep
#
*.exe
