<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>获取用户手机号和所属机构</title>
</head>
<body>
    {{/*参数显示*/}}
    <div>
        项目名称Title : {{.ProjectTitle}}
    </div>
    <div>
        项目版本Version : {{.ProjectVersion}}
    </div>
    <p></p>
    {{/*提交表单*/}}
    <form>
        <div>
            用户编号简写ShortUserId
            <input type="text" name="ShortUserId" value={{.ShortUserId}} onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
        <div style="display:none;">
            隐藏标识Sign
            <input type="text" name="Sign" value={{.Sign}}>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    <p></p>
    {{/*结果显示*/}}
    <div>
        <b>{{.MsgShow}}</b>
    </div>
    <div>
        用户编号UserId
        <input type="text" name="UserId" value={{.UserId}} onkeyup="value=value.replace(/[^\d]/g,'')" disabled>
    </div>
    <div>
        手机号MobileNo
        <input type="text" name="MobileNo" value={{.MobileNo}} onkeyup="value=value.replace(/[^\d]/g,'')" disabled>
    </div>
    <div>
        机构编号OrgId
        <input type="text" name="OrgId" value={{.OrgId}} onkeyup="value=value.replace(/[^\d]/g,'')" disabled>
    </div>
    <p></p>
    <div>
        <i>{{.JsonRes}}</i>
    </div>
</body>
</html>
