{{/*header*/}}
{{template "header.tmpl" .}}
{{/*main*/}}
{{/*提交表单*/}}
<section>
    <form id="formReq">
        <div>
            <label for="MobileNo">手机号MobileNo</label>
            <input id="MobileNo" type="text" name="MobileNo" value={{.MobileNo}} onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
        <div>
            <label for="OrgId">机构编号OrgId</label>
            <input id="OrgId" type="text" name="OrgId" value={{.OrgId}} onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
        <div>
            <button id="buttonSubmitReq">提交</button>
        </div>
    </form>
</section>
{{/*结果显示*/}}
<section>
    <div>
        <b id="msgShow">{{.MsgShow}}</b>
    </div>
    <div>
        <i id="jsonRes">{{.JsonRes}}</i>
    </div>
    <div>
        <label for="UserId">用户编号UserId</label>
        <input id="UserId" type="text" name="UserId" value={{.UserId}} onkeyup="value=value.replace(/[^\d]/g,'')" disabled>
    </div>
</section>
{{/*footer*/}}
{{template "footer.tmpl"}}
{{/*js_sm3*/}}
{{template "jsSM3.tmpl"}}
{{/*js_submitReq*/}}
{{template "jsSubmitReq.tmpl"}}
