{{/*header*/}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{.RouteNameCN}}</title>
</head>
<body>
<div>
    项目名称Title : {{.ProjectTitle}}
</div>
<div>
    项目版本Version : {{.ProjectVersion}}
</div>
<p></p>
