{{/*header*/}}
{{template "header.tmpl" .}}
{{/*main*/}}
{{/*提交表单*/}}
<section>
    <form id="formReq">
        <div>
            <label for="StrArrAmount">每期变化值StrArrAmount(用英文逗号隔开,负数为支出,正数为收入)</label>
            <input id="StrArrAmount" type="text" name="StrArrAmount" value={{.StrArrAmount}} onkeyup="value=value.replace(/[^\d\.\,\-]/g,'')">
        </div>
        <div>
            <label for="ErrorPrecision">误差精度ErrorPrecision(IRR小数表示时,小数点后保留位数)</label>
            <input id="ErrorPrecision" type="text" name="ErrorPrecision" value={{.ErrorPrecision}} onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
        <div>
            <button id="buttonSubmitReq">提交</button>
        </div>
    </form>
</section>
{{/*结果显示*/}}
<section>
    <div>
        <b id="msgShow">{{.MsgShow}}</b>
    </div>
    <div>
        <i id="jsonRes">{{.JsonRes}}</i>
    </div>
    <div>
        <label for="IRR">内部收益率IRR</label>
        <input id="IRR" type="text" name="IRR" value={{.IRR}} onkeyup="value=value.replace(/[^\d\.\,\-]/g,'')" disabled>
    </div>
</section>
{{/*footer*/}}
{{template "footer.tmpl"}}
{{/*js_sm3*/}}
{{template "jsSM3.tmpl"}}
{{/*js_submitReq*/}}
{{template "jsSubmitReq.tmpl"}}
