{{/*header*/}}
{{template "header.tmpl" .}}
{{/*main*/}}
{{/*提交表单*/}}
<section>
    <form id="formReq">
        <p>
            假设每次抽奖的中奖概率为[50%](即一半概率抽中一半概率抽不中),<br>
            若总共抽奖[X]次,求抽中次数正好为总次数的一半的概率[Rate]
        </p>
        <div>
            <label for="X">总抽奖次数X</label>
            <input id="X" type="text" name="X" value={{.X}} onkeyup="value=value.replace(/[^\d\.\,\-]/g,'')">
        </div>
        <div>
            <button id="buttonSubmitReq">提交</button>
        </div>
    </form>
</section>
{{/*结果显示*/}}
<section>
    <div>
        <b id="msgShow">{{.MsgShow}}</b>
    </div>
    <div>
        <i id="jsonRes">{{.JsonRes}}</i>
    </div>
    <div>
        <label for="Rate">目标概率Rate</label>
        <input id="Rate" type="text" name="Rate" value={{.Rate}} onkeyup="value=value.replace(/[^\d\.\,\-]/g,'')">
    </div>
</section>
{{/*footer*/}}
{{template "footer.tmpl"}}
{{/*js_sm3*/}}
{{template "jsSM3.tmpl"}}
{{/*js_submitReq*/}}
{{template "jsSubmitReq.tmpl"}}
