<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{.ModTitle}}</title>
</head>
<body>
    {{/*参数显示*/}}
    <div>
        项目名称Title : {{.ModTitle}}
    </div>
    <div>
        项目版本Version : {{.ModVersion}}
    </div>
    {{/*提交表单*/}}
    <form>
        <div>
            机构编号OrgId
            <input type="text" name="OrgId" value={{.OrgId}}>
        </div>
        <div>
            用户编号简写ShortUserId
            <input type="text" name="ShortUserId" value={{.ShortUserId}} onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
        <div  style="display:none;">
            隐藏标识Sign
            <input type="text" name="Sign" value={{.Sign}}>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    {{/*结果显示*/}}
    <div>
        <b>{{.MsgOut}}</b>
    </div>
</body>
</html>
