<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{.ModTitle}}</title>
</head>
<body>
    {{/*参数显示*/}}
    <div>
        项目名称Title : {{.ModTitle}}
    </div>
    <div>
        项目版本Version : {{.ModVersion}}
    </div>
</body>
</html>
