<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{.ProjectTitle}}</title>
</head>
<body>
    {{/*参数显示*/}}
    <div>
        项目名称Title : {{.ProjectTitle}}
    </div>
    <div>
        项目版本Version : {{.ProjectVersion}}
    </div>
</body>
</html>
