{{/*header*/}}
{{template "header.tmpl" .}}
{{/*main*/}}
{{/*提交表单*/}}
<section>
    <form id="formReq">
        <div>
            <label for="UserId">用户编号UserId</label>
            <input id="UserId" type="text" name="UserId" value={{.UserId}} onkeyup="value=value.replace(/[^\d]/g,'')">
        </div>
        <div>
            <button id="buttonSubmitReq">提交</button>
        </div>
    </form>
</section>
{{/*结果显示*/}}
<section>
    <div>
        <b id="msgShow">{{.MsgShow}}</b>
    </div>
    <div>
        <i id="jsonRes">{{.JsonRes}}</i>
    </div>
    <div>
        <label for="CountProductOrderPoolNFT">首发买入条数CountProductOrderPoolNFT</label>
        <input id="CountProductOrderPoolNFT" type="text" name="CountProductOrderPoolNFT" value={{.CountProductOrderPoolNFT}} onkeyup="value=value.replace(/[^\d]/g,'')" disabled>
    </div>
    <div>
        <label for="CountProductOrderNFTBuy">寄售买入条数CountProductOrderNFTBuy</label>
        <input id="CountProductOrderNFTBuy" type="text" name="CountProductOrderNFTBuy" value={{.CountProductOrderNFTBuy}} onkeyup="value=value.replace(/[^\d]/g,'')" disabled>
    </div>
    <div>
        <label for="CountProductOrderNFTSell">寄售卖出条数CountProductOrderNFTSell</label>
        <input id="CountProductOrderNFTSell" type="text" name="CountProductOrderNFTSell" value={{.CountProductOrderNFTSell}} onkeyup="value=value.replace(/[^\d]/g,'')" disabled>
    </div>
    <div>
        <label for="SumAmountGot">用户水晶已领取总数SumAmountGot</label>
        <input id="SumAmountGot" type="text" name="SumAmountGot" value={{.SumAmountGot}} onkeyup="value=value.replace(/[^\d]/g,'')" disabled>
    </div>
</section>
{{/*footer*/}}
{{template "footer.tmpl"}}
{{/*js_sm3*/}}
{{template "jsSM3.tmpl"}}
{{/*js_submitReq*/}}
{{template "jsSubmitReq.tmpl"}}
