{{/*header*/}}
{{template "header.tmpl" .}}
{{/*sectionProject*/}}
{{template "sectionProject.tmpl" .}}
{{/*sectionListRouter*/}}
<section>
    {{range $index, $attrS1Router := .ArrAttrS1ForSectionListRouter}}
        <div>
            <a href={{- $attrS1Router.RouteName -}}>{{- $attrS1Router.RouteNameCN -}}</a>
        </div>
        <p></p>
    {{else}}
        <div>
            无路由数据
        </div>
    {{end}}
</section>
{{/*footer*/}}
{{template "footer.tmpl"}}
